{% extends "masterinstrument/base.html"%}

{% block content %}

<div class="container">


<div class="jumbotron">
<div>
	<h2 style="text-align:center;">Name : {{mit_detail.name}}</h2>
	<p></p>
</div>
	<p></p>
	<p></p>
	<div class="text-center">
		<a href="{% url 'updatemasterinstrumenttype' pk=mit_detail.pk  %}" class="btn btn-primary">Update</a>
		<a href="{% url 'deletemasterinstrumenttype' pk=mit_detail.pk  %}" class="btn btn-danger">Delete</a>
		<a href="{% url 'masterinstrumenttype_list' %}" class="btn btn-secondary">Back To List</a>
	</div>

</div>
</div>
{% endblock %}
