{% extends "masterinstrument/base.html"%}

{% block content %}
<div class="container">


<div class="jumbotron">

<p></p>

<div class="container">

  <table class="table table-bordered">
    <thead class="thead-dark">
  <tr>
    <th scope="col">Job Id</th>
    <th scope="col">Certificate Number</th>
    <th scope="col">Certificate Date</th>
    <th scope="col">Validity Date</th>
    <th scope="col">Issue Date</th>
    <th scope="col">Client</th>

  </tr>
</thead>
<tbody>
  <tr>
    <td>{{cert_detail.inst_job_id}}</td>
    <td>{{cert_detail.cert_number}}</td>
    <td>{{cert_detail.cert_date}}</td>
    <td>{{cert_detail.valid_date}}</td>
    <td>{{cert_detail.issue_date}}</td>
    <td>{{cert_detail.client}}</td>



  </tr>
</tbody>
</table>
<p></p>
<div class="text-center">
  <a href="{% url 'cert_update' pk=cert_detail.pk  %}" class="btn btn-primary">Update</a>
  <a href="{% url 'cert_delete' pk=cert_detail.pk  %}" class="btn btn-danger">Delete</a>
  <a href="{% url 'cert_list' %}" class="btn btn-secondary">Back To List</a>

</div>
</div>
</div>
{% endblock %}
