{% extends "masterinstrument/base.html"%}

{% block content %}

<div class="container">


<div class="jumbotron">
<div>
	<h2 style="text-align:center;">Master Name : {{mk_detail.master_name}}</h2>
	<p></p>
	<h2 style="text-align:center;">Make : {{mk_detail.make_name}}</h2>
</div>
	<p></p>
	<p></p>
	<div class="text-center">
		<a href="{% url 'updatemake' pk=mk_detail.pk  %}" class="btn btn-primary">Update</a>
		<a href="{% url 'deletemake' pk=mk_detail.pk  %}" class="btn btn-danger">Delete</a>
		<a href="{% url 'make_list' %}" class="btn btn-secondary">Back To List</a>
	</div>

</div>
</div>
{% endblock %}
